# ignore bytecode
*.pyc
*/__pycache__/*
*/__pycache__
outputs/*
results/*
.vscode/settings.json
.ssh/*
heavy_init_traffic_level_test.png
light_init_traffic_level_test.png
no-car_init_traffic_level_test.png
environments/__pycache__/env.cpython-38.pyc
agent/__pycache__/agents.cpython-38.pyc

environments/__pycache__/env.cpython-38.pyc
agent/__pycache__/agents.cpython-38.pyc
__pycache__/definitions.cpython-38.pyc
plot/__pycache__/__init__.cpython-38.pyc
environments/__pycache__/env.cpython-38.pyc
*.out
