# ignore bytecode
*.pyc
*/__pycache__/*
*/__pycache__
outputs/*
results/*
.vscode/settings.json
.ssh/*
heavy_init_traffic_level_test.png
light_init_traffic_level_test.png
no-car_init_traffic_level_test.png
environments/__pycache__/env.cpython-38.pyc
agent/__pycache__/agents.cpython-38.pyc

environments/__pycache__/env.cpython-38.pyc
agent/__pycache__/agents.cpython-38.pyc
__pycache__/definitions.cpython-38.pyc
plot/__pycache__/__init__.cpython-38.pyc
environments/__pycache__/env.cpython-38.pyc
*.out
run_experiments.ipynb
.ipynb_checkpoints
bin
lib
pyvenv.cfg
plots/scenario_1_4runs.png
share/jupyter/kernels/python3/kernel.json
share/jupyter/kernels/python3/logo-32x32.png
share/jupyter/kernels/python3/logo-64x64.png
share/man/man1/ipython.1.gz
plot/plot_cost.py
.gitignore
plots/synthetic3_costs_10runs.pdf
plots/synthetic2_costs_10runs.pdf
plots/synthetic1_costs_10runs.pdf
.DS_Store
